
<label class="example-radio-group-label">Kogo reprezentujesz?</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectedCustomerType">
  <mat-radio-button class="example-radio-button" *ngFor="let customerType of customerTypes" [value]="customerType" (change)="selectedCustomerTypeChanged(customerType)">
    {{customerType}}
  </mat-radio-button>
</mat-radio-group>
<div [hidden]="!isPerson">
  <label>Imię</label>
  <br>
  <input type="text">
  <br>
  <label>Nazwisko</label>
  <br>
  <input type="text">
</div>
